@use "sass:math";

@use "sass:list";
@use "variables";
@use "tokens";
@use "utils";

$font-names:
  caption-small,
  body-small,
  body-medium,
  body-medium-alt,
  body-medium-bold,
  body-large,
  body-xlarge,
  heading-small,
  heading-medium,
  heading-large,
  button-small,
  button-medium;

@mixin font($font-name) {
  @if list.index($font-names, $font-name) {
    font-size: math.div(utils.token($font-name + '-font-size'), variables.$baseFontSize) * 1rem;
    text-decoration: utils.token($font-name + '-text-decoration');
    font-family: utils.token($font-name + '-font-family');
    font-weight: utils.token($font-name + '-font-weight');
    font-style: utils.token($font-name + '-font-style');
    font-stretch: utils.token($font-name + '-font-stretch');
    letter-spacing: utils.token($font-name + '-letter-spacing') * 0.01 * 1em;
    line-height: math.div(utils.token($font-name + '-line-height'), variables.$baseFontSize) * 1rem;
    @if utils.token($font-name + '-text-case') != 'normal' {
      text-transform: utils.token($font-name + '-text-case');
    }
  }
}
