@use "sass:math";

@import "./variables";
@import "./tokens";
@import "./utils";

$font-names:
  caption-small,
  body-small,
  body-medium,
  body-medium-alt,
  body-medium-bold,
  body-large,
  body-xlarge,
  heading-small,
  heading-medium,
  heading-large,
  button-small,
  button-medium;

@mixin font($font-name) {
  @if index($font-names, $font-name) {
    font-size: math.div(token($font-name + '-font-size'), $baseFontSize) * 1rem;
    text-decoration: token($font-name + '-text-decoration');
    font-family: token($font-name + '-font-family');
    font-weight: token($font-name + '-font-weight');
    font-style: token($font-name + '-font-style');
    font-stretch: token($font-name + '-font-stretch');
    letter-spacing: token($font-name + '-letter-spacing') * 0.01 * 1em;
    line-height: math.div(token($font-name + '-line-height'), $baseFontSize) * 1rem;
    @if token($font-name + '-text-case') != 'normal' {
      text-transform: token($font-name + '-text-case');
    }
  }
}
