@import '../../assets/styles/styles.scss';

.mkr__switch {
  $switch: &;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 24px;
  border-radius: 9999px;
  transition: background-color 0.4s ease;
  background-color: map-get($colors, 'neutral-40');

  &:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(map-get($colors, 'success'), 0.2);
  }

  &--active {
    background-color: map-get($colors, 'success');

    #{$switch}__indicator {
      transform: translateX(15px);
    }
  }

  &__indicator {
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: #ffffff;
    border-radius: 9999px;
    transition: transform 0.4s ease;
  }
}
