@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__tooltip {
  max-width: 80vw;
  overflow: hidden;

  &__label {
    @include fonts.font('caption-small');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1.5rem;
    max-width: 80vw;
    border-radius: 12px;
    background: map.get(colors.$colors, 'neutral');
    color: map.get(colors.$colors, 'white');
    z-index: 300;

    &--hidden {
      display: none;
    }
  }
}