@import '../../assets/styles/styles.scss';

.mkr__tooltip {
  &__label {
    @include caption-small-font;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1.5rem;
    border-radius: 12px;
    background: map-get($colors, 'neutral');
    color: map-get($colors, 'white');
    z-index: 300;

    &--hidden {
      display: none;
    }
  }
}
