@import '../../assets/styles/styles.scss';

.mkr__chips-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &--column {
    flex-direction: column;

    .mkr__chips:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &--row {
    flex-direction: row;

    .mkr__chips:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &:focus {
    outline: none;
  }
}
