@import '../../assets/styles/styles.scss';

.mkr__chips-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &--wrap {
    flex-wrap: wrap;
    gap: 2rem;
  }

  &--column {
    flex-direction: column;

    &:not(.mkr__chips-list--wrap) {
      .mkr__chips:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

  }

  &--row {
    flex-direction: row;

    &:not(.mkr__chips-list--wrap) {
      .mkr__chips:not(:first-child) {
        margin-left: 2rem;
      }
    }

  }

  &:focus {
    outline: none;
  }
}
