@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__chips {
  @include fonts.font('body-medium');
  $chips: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  padding: 1.5rem 2rem;
  border: 1px solid map.get(colors.$colors, 'neutral-40');
  color: map.get(colors.$colors, 'neutral-80');
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: none;

  &:hover:not(&--selected),
  &:focus:not(&--selected) {
    border-color: map.get(colors.$colors, 'secondary');
    color: map.get(colors.$colors, 'neutral-dark');
  }

  &--selected {
    background-color: map.get(colors.$colors, 'success');
    color: map.get(colors.$colors, 'white');
    border-color: map.get(colors.$colors, 'success');

    .mkr__chips__selected-icon {
      margin-right: 1.5rem;
    }
  }

  &__icon {
    margin-right: 1.5rem;
    position: relative;
    top: -0.25rem;
  }

  &__description {
    opacity: 0.8;
    margin-top: 1rem;
  }

  &--small {
    padding: 0.5rem 1rem;

    &#{$chips}--selected .mkr__chips__selected-icon {
      margin-right: 0.5rem;
    }

    .mkr__chips__icon {
      margin-right: 0.5rem;
    }

    .mkr__chips__description {
      margin-top: 0rem;
    }
  }
}