@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__chips {
  @include fonts.font('body-medium');
  $chips: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  padding: 1.5rem 2rem;
  border: 1px solid map.get(colors.$colors, 'neutral-40');
  color: map.get(colors.$colors, 'neutral-80');
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: none;

  &:hover:not(&--selected),
  &:focus:not(&--selected) {
    border-color: map.get(colors.$colors, 'secondary');
    color: map.get(colors.$colors, 'neutral-dark');
  }

  &--selected {
    background-color: map.get(colors.$colors, 'success');
    color: map.get(colors.$colors, 'white');
    border-color: map.get(colors.$colors, 'success');

    .mkr__chips__selected-icon {
      margin-right: 1.5rem;
    }
  }

  &--light_selected {
    border-radius: 4px;
    border: 2px solid var(--app-primary-secondary, #007762);
    padding: calc(1.5rem - 1px) calc(2rem - 1px);
    background: var(--app-alert-success-l, #E8F7F2);

    .mkr__chips__label {
      color: map.get(colors.$colors, 'neutral-dark');
    }
  }

  &--square {
    max-width: 150px;
    min-width: 120px;
    padding: 2rem;
    text-align: center;

    &.mkr__chips--light_selected {
      padding: calc(2rem - 1px);
    }

    .mkr__chips__label {
      display: flex;
      color: map.get(colors.$colors, 'neutral-dark');
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

    .mkr__chips__icon {
      display: none;
    }

    .mkr__chips__illustration {
      display: flex;
    }
  }

  &__icon {
    margin-right: 1.5rem;
    position: relative;
    top: -0.25rem;
  }

  &__description {
    opacity: 0.8;
    margin-top: 1rem;
    line-height: 1.1;
  }

  &--small {
    padding: 0.5rem 1rem;

    &#{$chips}--selected .mkr__chips__selected-icon {
      margin-right: 0.5rem;
    }

    .mkr__chips__icon {
      margin-right: 0.5rem;
    }

    .mkr__chips__description {
      margin-top: 0rem;
    }

    &.mkr__chips--light_selected {
      padding: calc(0.5rem - 1px) calc(1rem - 1px);
    }
  }

  &__illustration {
    width: 40px;
    height: 40px;
    margin: 0 auto 1.5rem;
    display: none;
    align-items: center;
    justify-content: center;
  }
}