@import '../../assets/styles/styles.scss';

.mkr__chips-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;

  &--medium {
    gap: 2rem;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &:focus {
    outline: none;
  }
}
