@import './settings/index';

@mixin mkr__input {
    background: map-get($colors, 'white');
    border: 1px solid map-get($colors, 'neutral-60');
    box-sizing: border-box;
    border-radius: 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem 2rem;

    &:focus, &:focus-within {
      border: 1px solid map-get($colors, 'secondary');
    }

    &.error {
      border: 1px solid map-get($colors, 'danger');
    }
}
