@use "sass:map";
@use '../../assets/styles/styles.scss';
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__data-table {
  background-color: map.get(colors.$colors, "white");
  border: 1px solid map.get(colors.$colors, "neutral-20");;
  border-collapse: initial;
  border-radius: 4px;
  border-spacing: 0;
  color: map.get(colors.$colors, "neutral");
  text-align: left;

  caption {
    @include fonts.font('body-large');
    padding-bottom: 2rem;
    text-align: left;
  }

  th {
    @include fonts.font('caption-small');
    color: map.get(colors.$colors, "neutral-80");
  }

  td {
    @include fonts.font('body-medium-alt');
  }

  th, td {
    padding: 2rem;
  }

  tr {
    &:not(:last-child) td, th {
      border-bottom: 1px solid map.get(colors.$colors, "neutral-20");
    }
  }
}
