@import '../../assets/styles/styles.scss';

.mkr__data-table {
  background-color: map-get($colors, "white");
  border: 1px solid map-get($colors, "neutral-20");;
  border-collapse: initial;
  border-radius: 4px;
  border-spacing: 0;
  color: map-get($colors, "neutral");
  text-align: left;

  caption {
    @include font('body-large');
    padding-bottom: 2rem;
    text-align: left;
  }

  th {
    @include font('caption-small');
    color: map-get($colors, "neutral-80");
  }

  td {
    @include font('body-medium-alt');
  }

  th, td {
    padding: 2rem;
  }

  tr {
    &:not(:last-child) td, th {
      border-bottom: 1px solid map-get($colors, "neutral-20");
    }
  }
}
