@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/shadows";

.mkr__card {
  background: map.get(colors.$colors, 'white');
  box-sizing: border-box;
  overflow: hidden;

  &--elevated {
    @include shadows.shadow-medium;
  }

  &--border {
    border: 1px solid map.get(colors.$colors, 'neutral-20');
  }

  &--radius {
    &-small {
      border-radius: 4px;
    }

    &-medium {
      border-radius: 8px;
    }

    &-large {
      border-radius: 12px;
    }
  }
}
