@import '../../assets/styles/styles.scss';

.mkr__card {
  background: map-get($colors, 'white');
  box-sizing: border-box;
  overflow: hidden;

  &--elevated {
    @include shadow-medium;
  }

  &--border {
    border: 1px solid map-get($colors, 'neutral-20');
  }

  &--radius {
    &-small {
      border-radius: 4px;
    }

    &-medium {
      border-radius: 8px;
    }

    &-large {
      border-radius: 12px;
    }
  }
}
