@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__nav-item {
  @include fonts.font('caption-small');
  color: map.get(colors.$colors, 'neutral-80');

  a {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1.5rem;
    text-decoration: none;
    user-select: none;
    border-radius: 0.5rem;
    overflow: hidden;
    color: currentColor;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &:not(&--icon-only) .mkr__icon:first-child {
    margin-right: 1.5rem;
  }
}
