@import '../../assets/styles/styles.scss';

.mkr__nav-item {
  @include caption-small-font;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  color: map-get($colors, 'neutral-80');

  a {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 0 1.5rem;
    text-decoration: none;
    user-select: none;
    color: currentColor;

    &:focus {
      outline: none;
    }
  }

  &:not(&--icon-only) .mkr__icon:first-child {
    margin-right: 1.5rem;
  }
}
