@import '../../assets/styles/styles.scss';

.mkr__nav-item-group {
  list-style: none;
  padding: 0;
  margin: 0;

  &--main {
    display: inline-block;
    .mkr__nav-item {
      &--active, &:hover, &:focus-within {
        color: map-get($colors, 'secondary-dark');
      }

      &:hover {
        background-color: map-get($colors, 'accent-light');;
      }
    }
  }

  &--sub .mkr__nav-item {
    &:focus-within:not(&--active),
    &:hover:not(&--active) {
      color: map-get($colors, 'secondary-dark');
    }

    &--active {
      background-color: map-get($colors, 'secondary-dark');
      color: map-get($colors, 'white');

      .mkr__icon {
        color: map-get($colors, 'primary');
      }
    }
  }

  &--sub-light .mkr__nav-item {
    &--active, &:hover, &:focus-within {
      color: map-get($colors, 'secondary-dark');
    }

    &--active {
      background-color: map-get($colors, 'neutral-light');
    }
  }

  &:not(&--top-nav) {
    .mkr__nav-item + .mkr__nav-item {
      margin-top: 1rem;
    }
  }
}
