@import '../../../assets/styles/styles.scss';

$themes: (
  'primary': (
    'background': map-get($colors, 'primary'),
    'color': map-get($colors, 'secondary-dark'),
  ),
  'primary-light': (
    'background': map-get($colors, 'primary-light'),
    'color': map-get($colors, 'secondary-dark'),
  ),
  'secondary': (
    'background': map-get($colors, 'secondary-dark'),
    'color': map-get($colors, 'white'),
  ),
  'secondary-light': (
    'background': map-get($colors, 'secondary-light'),
    'color': map-get($colors, 'secondary-dark'),
  ),
  'danger-light': (
    'background': map-get($colors, 'danger-light'),
    'color': map-get($colors, 'danger'),
  )
);

.mkr__button--contained {
  &:hover:not(:disabled) {
    box-shadow: 0px 0px 8px -4px map-get($colors, 'neutral-20');
  };

  @each $themeName, $themeValues in $themes {
    &--#{$themeName} {
      background-color: map-get($themeValues, 'background');
      color: map-get($themeValues, 'color');
    }
  }
}
