@import '../../assets/styles/styles.scss';

.mkr__snackbar {
  display: flex;
  cursor: default;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  justify-content: space-between;
  position: static;
  max-width: 240px;

  left: 16px;
  top: 16px;
  box-shadow: 0px 4px 16px -4px rgba(40, 56, 72, 0.2);
  border-radius: 4px;
  /* body/medium */
  @include body-medium-font;
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
  color: #FFFFFF;

  &.--error {
    background-color: map-get($colors, 'danger');
  };

  &.hasClose {
    cursor: pointer;
  }

  &.--success {
    background-color: map-get($colors, 'success');
  };

  &.--neutral {
    background-color: map-get($colors, 'neutral');
  };

  &.visible {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
  }

  &.hidden {
    animation: disappear 0.5s normal forwards ease-in-out;
  }
  &.show {
    animation: appear 1s normal forwards ease-in-out;
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes disappear {
    0% { opacity: 1; }

    100% { opacity: 0; }
    }
}
