@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";
@use "../../assets/styles/settings/shadows";

.mkr__snackbar {
  @include shadows.shadow-medium;
  @include fonts.font('body-medium');

  display: flex;
  cursor: default;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  min-width: 46rem;
  border-radius: 4px;
  color: map.get(colors.$colors, 'white');
  z-index: 200;

  &--error {
    background-color: map.get(colors.$colors, 'danger');
  };

  &--closable {
    cursor: pointer;
  }

  &--success {
    background-color: map.get(colors.$colors, 'success');
  };

  &--neutral {
    background-color: map.get(colors.$colors, 'neutral');
  };

  &--hidden {

    animation: disappear 0.5s normal forwards ease-in-out;
  }

  &--show {
    animation: appear 1s normal forwards ease-in-out;
  }

  .mkr__icon {
    margin-left: 2rem;
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes disappear {
    0% { opacity: 1; }
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
}
