@import '../../assets/styles/styles.scss';

.mkr__button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 16px 24px;
  border-radius: 4px;

  text-decoration: none;
  outline: none;
  box-shadow: none;

  /* button/medium */
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border-width: 0px;

  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;

  .mkr__icon {
    margin-right: 1rem;
  };

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  };

  &:hover:enabled {
    outline: 1px solid #FFFFFF;
    box-shadow: 0px 0px 8px -4px map-get($colors, 'neutral-20');
  };

  &.small {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  &.danger--light {
    background-color: map-get($colors, 'danger-light');
    color: map-get($colors, 'danger');

    .mkr__icon {
      color: map-get($colors, 'danger');
    }
  }

  &.primary {
    background-color: map-get($colors, 'primary');
    color: map-get($colors, 'secondary-dark');

    .mkr__icon {
      color: map-get($colors, 'secondary-dark');
    }

    &--light {
      background-color: map-get($colors, 'primary-light');
    }
  };

  &.secondary {
    background-color: map-get($colors, 'secondary-dark');
    color: map-get($colors, 'white');

    .mkr__icon {
      color: map-get($colors, 'white');
    };

    &--light {
      color: map-get($colors, 'secondary-dark');
      background-color: map-get($colors, 'secondary-light');
    };
  };

  &.outlined {
    border: 1px solid map-get($colors, 'neutral-40');
    background-color: transparent;
    color: map-get($colors, 'neutral');
    box-sizing: border-box;
    border-radius: 4px;

    &:disabled {
      background: transparent;
    }

    &:hover:enabled {
      background: map-get($colors, 'primary-light');
    };

    .mkr__icon {
      color: map-get($colors, 'neural');
    }
  }
}
