@use "../../../assets/styles/settings/colors";
@use "sass:map";

$themes: (
  'neutral': (
    'color': 'neutral',
    'hover-background': 'neutral-light',
    'hover-color': 'secondary-dark',
    'activated-background': 'secondary-dark',
    'activated-color': 'white',
  ),
  'neutral-80': (
    'color': 'neutral-80',
    'hover-background': 'neutral-light',
    'hover-color': 'secondary-dark',
    'activated-background': 'secondary-dark',
    'activated-color': 'white',
  ),
  'neutral-60': (
    'color': 'neutral-60',
    'hover-background': 'neutral-light',
    'hover-color': 'secondary-dark',
    'activated-background': 'secondary-dark',
    'activated-color': 'white',
  ),
  'secondary-dark': (
    'color': 'secondary-dark',
    'hover-background': 'neutral-light',
    'hover-color': 'secondary-dark',
    'activated-background': 'secondary-dark',
    'activated-color': 'white',
  ),
  'danger': (
    'color': 'danger',
    'hover-background': 'danger-light',
    'hover-color': 'danger',
    'activated-background': 'danger',
    'activated-color': 'neutral-light',
  ),
);

.mkr__button--text {
  box-sizing: border-box;
  border-radius: 4px;

  @each $themeName, $themeValues in $themes {
    &--#{$themeName} {
      color: map.get(colors.$colors, map.get($themeValues, 'color'));
      &:hover:not(:disabled):not(&--activated), &:hover:not([disabled=true]):not(&--activated) {
        background-color: map.get(colors.$colors, map.get($themeValues, 'hover-background'));
        color: map.get(colors.$colors, map.get($themeValues, 'hover-color'));
      }
      &--activated {
        background-color: map.get(colors.$colors, map.get($themeValues, 'activated-background'));
        color: map.get(colors.$colors, map.get($themeValues, 'activated-color'));
      }
    }
  }
}
