@import '../../assets/styles/styles.scss';

.mkr__modal {
  $modal: &;
  display: none;
  position: absolute;
  left: 50vw;
  top: 50vh;
  z-index: 1500;
  transform: translateX(-50%) translateY(-50%);

  &--medium {
    width: 50vw;
    max-width: 800px;
  }

  &--large {
    width: 80vw;
    max-width: 1100px;
  }

  &--opened {
    display: block;
  }

  &--slim #{$modal}__content {
    padding: 0;
  }

  &__close {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__content {
    padding: 5rem;
  }
}
