@use "../../../assets/styles/settings/colors";
@use "../../../assets/styles/settings/fonts";
@use "sass:map";

.mkr__button {
  $button: &;
  &--outlined {
    border: 1px solid map.get(colors.$colors, 'neutral-40');
    color: map.get(colors.$colors, 'neutral');
    box-sizing: border-box;
    border-radius: 4px;

    &#{$button}--large {
      padding: calc(2rem - 1px) calc(3rem - 1px);
    }
    padding: calc(1.5rem - 1px) calc(2rem - 1px);

    &:hover:not(:disabled) {
      background: map.get(colors.$colors, 'primary-light');
      border-color: map.get(colors.$colors, 'primary');
    };

    &:disabled {
      background-color: map.get(colors.$colors, 'white');
      border: 1px solid map.get(colors.$colors, 'neutral-20');
      color: map.get(colors.$colors, 'neutral-60');
    };
  }
}
