@use "sass:map";
@use '../../assets/styles/styles.scss';
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__dropdown {
  @include fonts.font('body-medium');
  display: flex;
  position: relative;

  .mkr__dropdown__input {
    $input: &;
    @include styles.mkr__input;
    padding: 1.5rem 2rem;
    outline: 0;
    color: map.get(colors.$colors, 'neutral');
    font: inherit;

    .mkr__icon {
      margin-left: auto;
      color: map.get(colors.$colors, 'neutral-60');
    }

    &:focus, &--focused {
      border-color: map.get(colors.$colors, 'secondary');

      .mkr__icon {
        color: map.get(colors.$colors, 'secondary');
      }
    }

    &__value {
      min-height: 3rem;

      &--placeholder {
        color: map.get(colors.$colors, 'neutral-60');
      }
    }

    &--error, &--error:focus, &--error#{$input}--focused {
      border-color: map.get(colors.$colors, 'danger');

      .mkr__icon {
        color: map.get(colors.$colors, 'danger');
      }
    }
  }

  &__list {
    width: 100%;
    z-index: 100;

    &--hidden {
      display: none;
    }

    &__container {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 30rem;
      overflow: auto;

      &:focus {
        outline: none;
      }

      li {
        &:not([aria-selected]) {
          cursor: pointer;

          &:hover {
            background-color: map.get(colors.$colors, 'neutral-light');
          }
        }

        padding: 1rem 2rem;

        &:not([aria-selected]) {
          padding-left: 5rem;
        }
        .mkr__icon {
          margin-right: 1rem;
        }
      }
    }
  }
}
