@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__expansion-panel {
  &__header {
    display: flex;
    align-items: center;

    &-activator {
      margin-right: 1rem;
      flex-shrink: 0;
    }

    &-title {
      @include fonts.font('body-large');
      color: map.get(colors.$colors, 'neutral');
      flex-grow: 1;
    }
  }
}
