@import '../../assets/styles/styles.scss';

.mkr__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: map-get($colors, 'white');
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;

  &:not(.--large) {
    border: 1px solid map-get($colors, 'neutral-20');
  }

  & > .mkr__list__item:not(:last-child) {
    border-bottom: 1px solid map-get($colors, 'neutral-20');
  }

  &--item-hoverable > .mkr__list__item {
    cursor: pointer;

    &:hover {
      background-color: map-get($colors, 'neutral-light');
      color: map-get($colors, 'secondary-dark');
    }
  }

  &--medium > .mkr__list__item {
    padding: 2rem;
  }

  &--large {
    padding: 0 2rem 2rem 2rem;
    border: 1px dashed map-get($colors, 'neutral-20');

    & > .mkr__list__item {
      padding: 4rem 2rem 2rem 2rem;
      border-bottom: 1px solid map-get($colors, 'neutral-20');
    }
  }
}