@import '../../assets/styles/styles.scss';

.mkr__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: map-get($colors, 'white');
  border: 1px solid map-get($colors, 'neutral-20');
  border-radius: 4px;
  overflow: hidden;

  & > .mkr__list__item:not(:last-child) {
    border-bottom: 1px solid map-get($colors, 'neutral-20');
  }

  &.--even > .mkr__list__item:nth-child(even),
  &.--odd > .mkr__list__item:nth-child(odd) {
    background-color: map-get($colors, 'neutral-light');
  }

  &.--hover > .mkr__list__item {
    cursor: pointer;

    &:hover {
      background-color: map-get($colors, 'neutral-light');
    }
  }

  &.--small > .mkr__list__item {
    padding: 8px;
  }

  &.--medium > .mkr__list__item {
    padding: 16px;
  }

  &.--large > .mkr__list__item {
    padding: 24px;
  }
}