@import '../../assets/styles/styles.scss';

.mkr__list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: map-get($colors, 'white');
  border-radius: 4px;
  overflow: hidden;

  &:not(.--large) {
    border: 1px solid map-get($colors, 'neutral-20');
  }

  & > .mkr__list__item:not(:last-child) {
    border-bottom: 1px solid map-get($colors, 'neutral-20');
  }

  &.--item-hoverable > .mkr__list__item {
    cursor: pointer;

    &:hover {
      background-color: map-get($colors, 'neutral-light');
      color: map-get($colors, 'secondary-dark');
    }
  }

  &.--small > .mkr__list__item {
    padding: 8px 16px;
  }

  &.--medium > .mkr__list__item {
    padding: 16px;
  }

  &.--large {
    padding: 0 16px 16px 16px;
    border: 1px dashed map-get($colors, 'neutral-20');

    & > .mkr__list__item {
      padding: 32px 16px 16px 16px;
      border-bottom: 1px solid map-get($colors, 'neutral-20');
    }
  }
}