@import './base.css';
@import '@livementor/mikado_reborn/src/assets/styles/framework.scss';

html{ font-size: 8px; } /* set px/rem ration => 1rem = 8px */

body{
  background: #EFF1F1;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

#app {
  padding:15px;
  margin:0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

/* TOP LINE */
h1{ height: 5rem ; text-align: center }
header{
  height: 5rem;
  width: 100%;
  padding-left: 15px;
  display: flex;
}
header ul{ display: flex; list-style: none; padding:0 }
header ul li{ padding: 3px 5px; }

/* COMMON STYLE */
.card-like{
  background-color: white;
  border: 1px solid rgba(33, 46, 59, 0.2);
  border-radius: 15px;
}

/* ASIDE - Components List */
aside{
  width: 200px;
  flex: 0 0 auto;
}
aside h3{ font-size: 1.5rem; margin: 15px 10px; padding: 0; text-align: center; }
aside ul{ margin: 10px; padding:0; }
aside ul li{
  position: relative;
  list-style: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0px 15px;
  margin: 5px 0;
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: .2s;
}
aside ul li::after{
  content:'›';
  position: absolute;
  right: 10px;
  height: 100%;
  opacity:.3;
}
aside ul li:hover{
  box-shadow: 0 1px 3px rgba(0,0,0,.05);
  cursor:pointer;
}
aside ul li.active{
  background-color: white;
  border-color: lightgray;
}

/* MAIN - Component demo zone */
section{
  flex: 1 1 auto;
  height: fit-content;
}
section .card-like{
  padding: 30px;
}
