@use '../../assets/styles/styles.scss';

.mkr__textarea {
  @include styles.mkr__input;
  padding: 1.5rem 2rem;

  textarea {
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    outline: 0;
    width: 100%;
    resize: none;
    appearance: none;
  }

}

.mkr__counter {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.48px;

  .error {
    color: map.get(colors.$colors, 'danger');
  }
}