@import '../../assets/styles/styles.scss';

.mkr__textarea {
  @include mkr__input;

  textarea {
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    outline: 0;
    width: 100%;
    resize: none;
    appearance: none;
  };
}
