@use "sass:map";
@use "../../assets/styles/settings/colors";
@use "../../assets/styles/settings/fonts";

.mkr__large-tooltip {
  &__label {
    @include fonts.font('caption-small');
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1.5rem;
    border-radius: 12px;
    background: map.get(colors.$colors, 'neutral');
    color: map.get(colors.$colors, 'white');
    z-index: 300;
    max-width: 260px;

    &--hidden {
      display: none;
    }
  }

  &__long_text a {
    text-decoration: underline;
  }

  &__long_text a:hover {
    text-decoration: none;
  }

  &__long_text {
    font-family: Rubik !important;
    text-transform: none;
    padding: 16px;
    line-height: 22px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
  }

  &__container {
    top: -5px !important;
    padding-top: 5px !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  p {
    padding: 5px 0;
  }
}