@import '../../assets/styles/styles.scss';

.mkr_steppedprogress {
  display: flex;
  height: 1rem;

  &_step {
    flex: 1;
  }
  &_step:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  &_step+&_step {
    margin-left: 0.25rem;
  }

  &_step:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

}

