@use "sass:map";
@use '../../assets/styles/styles.scss';
@use "../../assets/styles/settings/colors";

.mkr__textfield  {
  @include styles.mkr__input;

  padding: 0.5rem;

  &__inner {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 1rem 1.5rem;
    .mkr__icon {
      margin-right: 1rem;
    }
  }

  input {
    line-height: 24px;
    text-decoration: none;
    background-color: transparent;
    border-width: 0px;
    outline: 0;
    width: 100%;
    color: map.get(colors.$colors, 'neutral');
  };
}
