@import '../../assets/styles/styles.scss';

.mkr__notification-badge {
  & > *:first-child {
    position: relative;

    &::after {
      content: close-quote;
      position: absolute;
      display: none;
      width: 1rem;
      height: 1rem;
      left: 75%;
      right: -25%;
      top: -12.5%;
      bottom: 62.5%;
      background: map-get($colors, 'danger');
      border-radius: 50%;
      border: 1px solid map-get($colors, 'white');
    }
  }

  &--show {
    & > *:first-child::after {
      display: block;
    }
  }
}
