@import '../../assets/styles/styles.scss';

$themes: (
  'danger': (
    'background': 'danger',
    'color': 'white',
  ),
  'danger-light': (
    'background': 'danger-light',
    'color': 'danger',
  ),
  'info': (
    'background': 'info',
    'color': 'white',
  ),
  'info-light': (
    'background': 'info-light',
    'color': 'info',
  ),
  'primary': (
    'background': 'primary',
    'color': 'secondary-dark',
  ),
  'primary-light': (
    'background': 'primary-light',
    'color': 'primary-dark',
  ),
  'secondary': (
    'background': 'secondary-dark',
    'color': 'white',
  ),
  'success': (
    'background': 'success',
    'color': 'white',
  ),
  'success-light': (
    'background': 'success-light',
    'color': 'success',
  ),
  'warning-light': (
    'background': 'warning-light',
    'color': 'warning',
  )
);

.mkr__badge {
  @include caption-small-font;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  width: fit-content;
  border-radius: 22px;

  @each $themeName, $themeValues in $themes {
    &--#{$themeName} {
      background-color: map-get($colors, map-get($themeValues, 'background'));
      color: map-get($colors, map-get($themeValues, 'color'));
    }
  }
}
