@import '../../assets/styles/styles.scss';

.mkr__app {
  font-size: 2rem;
  @include font('body-medium');

  /* COLORS */

  @each $name, $color in $colors {
    .#{$name} {
      color: $color;
    }
  }

  @each $name, $color in $colors {
    .#{$name}-bg {
      background-color: $color;
    }
  }
}

html {
  font-size: 50%;
}

